// Набор размеров
$size_2: 2px;
$size_4: 4px;
$size_8: 8px;
$size_12: 12px;
$size_16: 16px;
$size_24: 24px;
$size_32: 32px;
$size_40: 40px;
$size_48: 48px;
$size_64: 64px;
$size_80: 80px;
$size_88: 88px;
$size_120: 120px;

// Параметры шапки
$headerHeight: $size_88;
$headerPB: $size_40;

// Параметры футера
$footerHeight: $size_80;
$footerPT: $size_40;